*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: url(../MEDIA/backgroundLogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #4a4adf;
    padding: 1rem 0;
    display: flex;
}

.logo{
    list-style: none;
    display: flex;
    justify-content: left;
    position: relative;
    left: 10px;
}

nav{
    background-color: #5B57D3;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
    padding-right: 10px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    background-color: #7a76f424;
    border-radius: 8px;
}

nav a:hover{
    background-color: #33317c;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menuButton{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


/* For index buttons*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    gap: 10px;
}

.bar {
    flex-grow: 1;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: gray;
    padding: 0 15px;
}

.red { background-color: red; }
.orange { background-color: orange; }
.green { background-color: limegreen; }

.buttons {
    display: flex;
    gap: 5px;
}

button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #aaa;
}