/* For index buttons */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    gap: 10px;
}

.bar {
    flex-grow: 1;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: gray;
    padding: 0 15px;
    
    &.red { background-color: red; }
    &.orange { background-color: orange; }
    &.green { background-color: limegreen; }
}

.buttons {
    display: flex;
    gap: 5px;
}

button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
    &:hover {
        background: #aaa;
    }
}
